<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav app-sidenav">
    <div class="brand">
      <div class="title">Hidráulica</div>
      <div class="sub">Nuestra Sra. De Caacupe</div>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/">Inicio</a>

      <a mat-list-item routerLink="/clientes" *hasPermiso="'CLIENTE_CRUD'">Clientes</a>
      <a mat-list-item routerLink="/productos" *hasPermiso="'PRODUCTO_CRUD'">Productos</a>
      <a mat-list-item routerLink="/stock/entrada" *hasPermiso="'STOCK_MOVIMIENTO'">Entrada de stock</a>
      <a mat-list-item routerLink="/ventas/nueva" *hasPermiso="'VENTA_CRUD'">Nueva venta</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-toolbar">
      <span>Hidráulica Caacupe</span>
      <span class="spacer"></span>
      <button mat-button (click)="openPosSettings()" aria-label="Configurar caja">
        <mat-icon>store</mat-icon>
        Caja: {{ pos.cajaId() || 'Sin configurar' }}
      </button>
      <span class="user">{{ username }}</span>
      <button mat-button (click)="logout()">Salir</button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
